body {
    background-color: whitesmoke;
    font-family: fantasy;
    color: grey;
    text-align: center;

}

.container {
    background-color: white;
    overflow: scroll;
}

header {
    height: 200px;
    background-color: aqua;
}

.content {
    height: 500px;
    background-color: aquamarine;
}

footer {
    height: 100px;
    background-color: lightsalmon;
}


header img {
    width: 80px;
    height: 80px;
}

.card {
    background-color: blueviolet;
    width: 220px;
    height: 220px;
    float: left;
    margin: 10px;
    border-radius: 20px;
}

.clear {
    clear: both;

}