body {
    background-color: whitesmoke;
<<<<<<< HEAD
    font-family: fantasy;
    color: grey;
=======
>>>>>>> content-img
    text-align: center;
}

.container {
    background-color: white;
}

header {
    height: 200px;
    background-color: aqua;
}

.content {
    height: 500px;
    background-color: aquamarine;
}

footer {
    height: 100px;
    background-color: lightsalmon;
}

header img {
    width: 80px;
    height: 80px;
}